.openHours--div{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;

}

.openHours--card-ul{
    list-style-type: none;
    padding: 0;
}

.openHours--card-ul > li{
    margin: 10vw 5vw;
    display: inline-block;
}

.openHours--factPage-ul {
    list-style-type: none;
    color: white;
    opacity: 0.8;
    padding: 0;
    width: 100%;
}

.underLine--div{
    width: auto;
    align-items: center;
}

.underLine--img{
    width: 100%;
}