.nav {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #1a1a1a;
    box-shadow: 0px 5px 10px #0c0c0c;
    display: flex;
    justify-content: left;
    align-items: center;

    height: 8vw;
    transition: height 0.1s;
}

.nav-buttons--ul{
    margin: 0;
    list-style-type: none;
    display: flex;
}

.nav-buttons--li {
    margin: 0 2vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.nav-buttons--li{
    transform: scale(1.2);
}

.nav.scrolling{
    height: 4vw;
}

.nav.scrolling > .nav-buttons--ul > .nav--logo-li *{
    transform: scale(0.6);
    transition: opacity 0.2s;
}

.nav--logo {
    height: 6vw;
    transition: transform 0.2s;
}

.nav--logo:hover {
    transform: scale(1.2);
    opacity: 0.5;
}

.nav--white-cafe{
    position: absolute;
    top: 50%;
    left: 95%;
    height: 4.5vw;
    transform: translate(-50%, -50%);
    animation: white-cafe-scroll-reverse 0.1s;
}

.nav.scrolling > .nav--white-cafe {
    height: 2.3vw;
    animation: white-cafe-scroll 0.1s;
}

.nav-button{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: white;
    opacity: 0.4;

    text-transform: uppercase;
    transition: transform 0.1s, opacity 0.1s;
}

.nav-button:hover{
    transform: scale(1.2) ;
    opacity: 1;
}
