.home {
    display: flex;
    padding: 10em;
    align-items: center;
    justify-content: center;
}

.home--main-img {
    margin-top: 1em;
    display: block;
    width: 95vw;
    border-radius: 30px;
    border: 2px solid black;
}